@import "tailwindcss";  
@tailwind utilities;  



/* 光の筋 */
.ray {   
    position: absolute; 
     
    width: 33%;   
    height: 100%;   
    transform: rotate(15deg);   
    transform-origin: top center;   
    background:      
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent),     
        linear-gradient(to right, transparent, rgba(235, 246, 250, 0.4) 50%, transparent);   
    opacity: 0.3;   
    mix-blend-mode: screen;   
    pointer-events: none; 
    filter: blur(25px);
    z-index: 20;
}

.ray2 {   
    position: absolute; 
     
    width: 5%;   
    height: 100%;   
    transform: rotate(15deg);   
    transform-origin: top center;   
    background:      
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent),     
        linear-gradient(to right, transparent, rgba(235, 246, 250, 0.4) 50%, transparent);   
    opacity: 0.1;   
    mix-blend-mode: screen;   
    pointer-events: none; 
    filter: blur(20px);
    z-index: 10;
}

@keyframes slow-move-left {   
    from { transform:  translateX(
      0); }   
    to { transform: translateX(-40%); } 
}

.ray-wrapper {
  position: absolute;
  width: 100vw;
  height: 110%;
  animation: slow-move-left 20s linear infinite;
  pointer-events: none;
  overflow: visible;
  z-index: 20;
}

.ray-wrapper2 {
  position: absolute;
  row-gap: 30%;
  width: 110%;
  height: 160vh;
  animation: slow-move-left 40s linear infinite;
  pointer-events: none;
  overflow: visible;
  z-index: 10;
}

.bubble-container {
    width: clamp(40px, 8vw, 110px);
    height:clamp(40px, 8vw, 110px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.242);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
    animation: float-updown 3s ease-in-out infinite;
}


@keyframes float-updown{
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6%); 
    }
}

@keyframes bubble-pop {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-8%); }
  50%  { transform: translateY(4%); }
  75% { transform: translateY(-1%); }
  90% { transform: translateY(0.3%%); }
  100% { transform: translateY(0); }
}

.responsive-height {
    height: clamp(10vh, 140vh, 1500px);
    overflow: hidden; /* はみ出した光の筋を隠す */
}

/* 非常に幅の狭い画面 */
@media (max-width: 375px) {
    .responsive-height {
        height: 700px;
        overflow: hidden;
    }
}

/* スマートフォン（縦向き） */
@media (max-width: 640px) and (orientation: portrait) {
    .responsive-height {
        height: clamp(10vh, 130vh, 1500px);
        overflow: hidden;
    }
}

/* スマートフォン（横向き） */
@media (max-width: 640px) and (orientation: landscape) {
    .responsive-height {
        height: clamp(10vh, 130vh, 1500px);
        overflow: hidden;
    }
}

/* タブレット（縦向き） */
@media (min-width: 641px) and (max-width: 768px) and (orientation: portrait) {
    .responsive-height {
        height: clamp(10vh, 140vh, 1500px);
        overflow: hidden;
    }
}

/* タブレット（横向き） */
@media (min-width: 641px) and (max-width: 768px) and (orientation: landscape) {
    .responsive-height {
        height:clamp(10vh, 140vh, 1500px);
        overflow: hidden;
    }
}

/* 中型タブレット・小型ラップトップ */
@media (min-width: 769px) and (max-width: 1024px) {
    .responsive-height {
        height: clamp(10vh, 170vh, 1500px);
        overflow: hidden;
    }
}

/* デスクトップ */
@media (min-width: 1025px) and (max-width: 1280px) {
    .responsive-height {
        height: clamp(10vh, 170vh, 1500px);
        overflow: hidden;
    }
}

/* 大型デスクトップ */
@media (min-width: 1281px) {
    .responsive-height {
        height: clamp(10vh, 170vh, 1500px);
        overflow: hidden;
    }
}
